In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('data.csv')
df.head()

df['Engine Type'].unique()
# df["Stroke"].unique()
# df['Fuel Capacity (L)'].unique()

array(['Single Cylinder', 'Inline-4', 'V-Twin', 'Twin Cylinder',
       'Parallel Twin'], dtype=object)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City in            1001 non-null   object
 1   Kilometers ran     998 non-null    float64
 2   Bike Prices        1000 non-null   float64
 3   Engine Type        1002 non-null   object
 4   Stroke             1001 non-null   object
 5   Transmission Type  1002 non-null   object
 6   Fuel Capacity (L)  997 non-null    float64
 7   Cooling System     1002 non-null   object
 8   Bike names         1002 non-null   object
 9   Model Year         1001 non-null   float64
dtypes: float64(4), object(6)
memory usage: 78.4+ KB

In [4]:
df.head(10)

,City in,Kilometers ran,Bike Prices,Engine Type,Stroke,Transmission Type,Fuel Capacity (L),Cooling System,Bike names,Model Year
0,Karachi,10500.0,5000000.0,Single Cylinder,2-stroke,Manual,14.0,Liquid-cooled,Honda CB 150F,2016.0
1,Karachi,20000.0,400000.0,Inline-4,4-stroke,Automatic,12.0,Oil-cooled,Yamaha MT-15,2006.0
2,Karachi,12000.0,899000.0,Single Cylinder,4-stroke,Automatic,19.0,Air-cooled,Kawasaki Ninja 300,2019.0
3,Karachi,6400.0,9500000.0,V-Twin,4-stroke,Automatic,15.0,Oil-cooled,Suzuki GSX-R600,2019.0
4,Karachi,8000.0,422000.0,V-Twin,2-stroke,Manual,12.0,Oil-cooled,United US 125,2022.0
5,Karachi,11000.0,5000000.0,Inline-4,4-stroke,Manual,19.0,Air-cooled,Honda CB 150F,2017.0
6,Karachi,24000.0,2850000.0,Twin Cylinder,4-stroke,Automatic,12.0,Air-cooled,Yamaha MT-15,2011.0
7,Karachi,20000.0,220000.0,Single Cylinder,4-stroke,Automatic,8.0,Oil-cooled,Kawasaki Ninja 300,2016.0
8,Karachi,4000.0,650000.0,Inline-4,2-stroke,Manual,9.0,Oil-cooled,Suzuki GSX-R600,2020.0
9,Karachi,42000.0,245000.0,Single Cylinder,2-stroke,Manual,19.0,Liquid-cooled,United US 125,2019.0

In [5]:
df.describe()

       Kilometers ran   Bike Prices  Fuel Capacity (L)   Model Year
count       998.00000  1.000000e+03         997.000000  1001.000000
mean      11396.06513  5.753990e+05          13.530592  2019.063936
std       24352.94804  7.148831e+05           3.480917     7.028080
min           0.00000  1.050000e+05           8.000000  1964.000000
25%        3500.00000  2.100000e+05          10.000000  2018.000000
50%        6000.00000  4.300000e+05          13.000000  2021.000000
75%       12000.00000  8.700000e+05          17.000000  2022.000000
max      500000.00000  9.500000e+06          20.000000  2023.000000

In [6]:
# df["City in"].unique()
# df['Engine Type'].unique()
# df["Model Year"].unique()
df["Bike names"].unique()
# df['Cooling System'].unique()

array(['Honda CB 150F', 'Yamaha MT-15', 'Kawasaki Ninja 300',
       'Suzuki GSX-R600', 'United US 125', 'Super Power SP 70',
       'Road Prince 110', 'Metro MR 70'], dtype=object)

In [7]:
df.isnull().sum()

City in              1
Kilometers ran       4
Bike Prices          2
Engine Type          0
Stroke               1
Transmission Type    0
Fuel Capacity (L)    5
Cooling System       0
Bike names           0
Model Year           1
dtype: int64

In [8]:
df.columns

Index(['City in', 'Kilometers ran', 'Bike Prices', 'Engine Type', 'Stroke',
       'Transmission Type', 'Fuel Capacity (L)', 'Cooling System',
       'Bike names', 'Model Year'],
      dtype='object')

In [9]:
for col in df.columns:
    print(col)

City in
Kilometers ran
Bike Prices
Engine Type
Stroke
Transmission Type
Fuel Capacity (L)
Cooling System
Bike names
Model Year

In [10]:
df.count()

City in              1001
Kilometers ran        998
Bike Prices          1000
Engine Type          1002
Stroke               1001
Transmission Type    1002
Fuel Capacity (L)     997
Cooling System       1002
Bike names           1002
Model Year           1001
dtype: int64

Data preprocessing

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City in            1001 non-null   object
 1   Kilometers ran     998 non-null    float64
 2   Bike Prices        1000 non-null   float64
 3   Engine Type        1002 non-null   object
 4   Stroke             1001 non-null   object
 5   Transmission Type  1002 non-null   object
 6   Fuel Capacity (L)  997 non-null    float64
 7   Cooling System     1002 non-null   object
 8   Bike names         1002 non-null   object
 9   Model Year         1001 non-null   float64
dtypes: float64(4), object(6)
memory usage: 78.4+ KB

In [12]:
df.isnull().sum()

City in              1
Kilometers ran       4
Bike Prices          2
Engine Type          0
Stroke               1
Transmission Type    0
Fuel Capacity (L)    5
Cooling System       0
Bike names           0
Model Year           1
dtype: int64

In [13]:
def fillNaMean(cols):
    for i in cols:
        if df[i].dtype in ['float64', 'int64']:
            df[i] = df[i].fillna(df[i].mean())
        else:
            print(f"Column '{i}' is not numeric and will be skipped.")

columns = ['Kilometers ran', 'Bike Prices', 'Fuel Capacity (L)', 'Model Year']
fillNaMean(columns)

In [14]:
def fillNaMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['City in','Stroke']
fillNaMode(columns)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City in            1002 non-null   object
 1   Kilometers ran     1002 non-null   float64
 2   Bike Prices        1002 non-null   float64
 3   Engine Type        1002 non-null   object
 4   Stroke             1002 non-null   object
 5   Transmission Type  1002 non-null   object
 6   Fuel Capacity (L)  1002 non-null   float64
 7   Cooling System     1002 non-null   object
 8   Bike names         1002 non-null   object
 9   Model Year         1002 non-null   float64
dtypes: float64(4), object(6)
memory usage: 78.4+ KB

In [16]:
df.isnull().sum()

City in              0
Kilometers ran       0
Bike Prices          0
Engine Type          0
Stroke               0
Transmission Type    0
Fuel Capacity (L)    0
Cooling System       0
Bike names           0
Model Year           0
dtype: int64

In [17]:
df.drop('Transmission Type', axis=1, inplace=True)
df.drop('Cooling System', axis=1, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City in            1002 non-null   object
 1   Kilometers ran     1002 non-null   float64
 2   Bike Prices        1002 non-null   float64
 3   Engine Type        1002 non-null   object
 4   Stroke             1002 non-null   object
 5   Fuel Capacity (L)  1002 non-null   float64
 6   Bike names         1002 non-null   object
 7   Model Year         1002 non-null   float64
dtypes: float64(4), object(4)
memory usage: 62.8+ KB

In [19]:
def changeFloattoInt64(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Kilometers ran', 'Bike Prices', 'Fuel Capacity (L)', 'Model Year']
changeFloattoInt64(columns)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City in            1002 non-null   object
 1   Kilometers ran     1002 non-null   int64
 2   Bike Prices        1002 non-null   int64
 3   Engine Type        1002 non-null   object
 4   Stroke             1002 non-null   object
 5   Fuel Capacity (L)  1002 non-null   int64
 6   Bike names         1002 non-null   object
 7   Model Year         1002 non-null   int64
dtypes: int64(4), object(4)
memory usage: 62.8+ KB

In [21]:
df_clean=df.copy()

In [22]:
def encodeCols(cols):
    for i in cols:
        temp = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(temp))
        # data_LE.fit(temp)             # What is the difference between using "np.ravel" or without using "np.ravel"
        df_clean[i] = data_LE.transform(df[i])

columns = ['City in','Stroke','Bike names','Engine Type']
encodeCols(columns)

In [23]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City in            1002 non-null   int64
 1   Kilometers ran     1002 non-null   int64
 2   Bike Prices        1002 non-null   int64
 3   Engine Type        1002 non-null   int64
 4   Stroke             1002 non-null   int64
 5   Fuel Capacity (L)  1002 non-null   int64
 6   Bike names         1002 non-null   int64
 7   Model Year         1002 non-null   int64
dtypes: int64(8)
memory usage: 62.8 KB

In [24]:
df_clean.to_csv(r'cleaned-data.csv', index=False, header=True)

In [25]:
df_clean['Engine Type'].unique()
# df_clean.head()
df_clean['Stroke'].unique()

array([0, 1])

In [26]:
df_clean.tail()

,City in,Kilometers ran,Bike Prices,Engine Type,Stroke,Fuel Capacity (L),Bike names,Model Year
997,7,12000,1100000,0,1,16,5,2018
998,0,11396,130000,2,1,9,6,2023
999,2,11396,105000,2,1,9,4,2023
1000,6,2500,120000,2,1,10,3,2021
1001,1,1800,110000,2,1,9,2,2022

In [27]:
df_clean.shape

(1002, 8)

Data spliting

In [28]:
trainX = df_clean[['Bike Prices', 'Engine Type', 'Stroke', 'City in', 'Kilometers ran', 'Model Year']]
trainY = df_clean[['Bike names']]

In [29]:
trainX, testX, trainY, testY = train_test_split(
    df_clean[['Bike Prices', 'Engine Type', 'Stroke', 'City in', 'Kilometers ran','Model Year']],
    df_clean[['Bike names']],
    test_size=0.2,
    shuffle=False
)

In [30]:
trainX.head(5)

   Bike Prices  Engine Type  Stroke  City in  Kilometers ran  Model Year
0      5000000            2       0        4           10500        2016
1       400000            0       1        4           20000        2006
2       899000            2       1        4           12000        2019
3      9500000            4       1        4            6400        2019
4       422000            4       0        4            8000        2022

In [31]:
trainY.head(5)

   Bike names
0           0
1           7
2           1
3           5
4           6

In [32]:
print("TrainX:",trainX.shape)
print("TrainY:",trainY.shape)
print("TestX:",testX.shape)
print("TestY:",testY.shape)

TrainX: (801, 6)
TrainY: (801, 1)
TestX: (201, 6)
TestY: (201, 1)

Trainning

In [33]:
import pickle
from sklearn.svm import SVC

In [34]:
from sklearn.svm import SVC

# Enable probability estimates
model_SVC = SVC(probability=True)
model_SVC.fit(trainX, trainY.values.ravel())  # .values.ravel() if trainY is a DataFrame

print(model_SVC)

SVC(probability=True)

In [35]:
pickle.dump(model_SVC, open('model_SVC.pkl', 'wb'))

In [36]:
model_SVC = pickle.load(open('model_SVC.pkl', 'rb'))

In [37]:
predictions = model_SVC.predict(testX)

In [38]:
print(predictions)

[1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5
 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7
 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1
 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6
 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7 1 5 6 7 7
 1 5 6 7 7 1 5 6 7 7 1 5 6 6 6 6]

In [39]:
from sklearn.metrics import accuracy_score
svc_accuracy = accuracy_score(testY,predictions)

print("-- Model Accuracy: ", end="")
print(round(svc_accuracy,3))

-- Model Accuracy: 0.791

In [40]:
print(round(svc_accuracy * 100, 1), "%")

79.1 %